/* Mis Guifos css */


/* UTILIDADES */

button {
    width: 144px;
    height: 36px;
    font-size: 16px;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    border: 1px solid #110038;
}

button.button-ancho {
    width: 256px;
    height: 36px;
}

.boton-tiza {
    background-color: var(--color-background);
}

.boton-rosado {
    background-color: var(--color01);
}

.boton-naranja {
    background-color: #FF6161;
    color: #FFFFFF;
}

.flex-columna {
    flex-direction: column;
}


/*  */

.arrow-back {
    margin-right: 7px;
}

.ventana-crear-guifo {
    background-color: var(--color-background-ventanas);
    box-shadow: inset -2px -2px 0 0 var(--color1-box-shadow-buscar), inset 2px 2px 0 0 var(--color2-box-shadow-buscar);
    height: 386px;
    max-width: calc(100% - 20%);
    margin-top: 78px;
    margin-bottom: 38px;
}

div.titulo-crear-guifos.instrucciones {
    width: 684px;
}

.ventana-crear-guifo p.texto-crear-guifo {
    margin-left: 3px;
}

.titulo-crear-guifos {
    margin: 32px 0px 7px 0px;
}

.icono_window {
    margin: 0px 16px 0px 25px;
}

div.contenedor-textos p,
h3,
span {
    color: var(--color03);
}

div.contenedor-textos div p {
    display: inline;
    font-size: 16px;
}

.contenedor-textos {
    width: 518px;
}

div.contenedor-textos div {
    margin-top: 12px;
    margin-bottom: 12px;
}

.contenedor-botones {
    width: 95%;
    margin-top: 23px;
}

button.button-cancelar {
    margin-right: 16px;
}


/* VENTANA GIFO SUBIDO */

div.ventana-gifo-subido {
    width: 60%;
    height: 191px;
    background: #FFFFFF;
    margin: 29px 27px 0px 27px;
}

div.contenedor-gif-creado {
    width: 50%;
}

div.botones-gif-creado button:first-of-type {
    margin: 16px 0px 14px 0px;
}

div.ventana-crear-guifo.terminado {
    width: 721px;
}

.contenedor-boton-listo {
    height: 37%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.contenedor-boton-listo button {
    margin: 0px 46px 44px 0px;
}

div.grabacion {
    width: 860px;
    height: 548px;
}

div.ventana-grabacion {
    top: 0px;
    padding: 4% 1.5%;
    width: 100%;
    height: 95%;
}

div.ventana-grabacion img {
    border: 2px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

div.contenedor-reproductor {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

div.controles .control {
    margin: 16px;
}

button.boton-con-icono {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button.boton-con-icono span {
    padding: 5% 20%;
    border-left: 1.9px solid var(--color03);
}

p.recording-tiempo {
    background-color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    color: #110038;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.fondo-blanco {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

div.subiendo-tu-gif {
    color: #110038;
}

div.subiendo-tu-gif img,
div.subiendo-tu-gif p {
    margin: 5px;
}

p.tiempo-restante {
    color: #110038;
    opacity: 64%;
}

span.tachado {
    text-decoration: line-through;
}