:root[theme='day'] {
    --color-background: #FFF4FD;
    --color-text: #FFFFFF;
    --color-text-button: #110038;
    --color-text-button-search: #B4B4B4;
    --color-degradado-01: #F7C9F3;
    --color-degradado-02: #4180F6;
    --color-button-ver-mas: #4180F6;
    --color-background-ventanas: #E6E6E6;
    --color-hover-button: #E6BBE2;
    --color-button-theme-day: #FFF4FD;
    --color-button-theme-night: #F0F0F0;
    --color-button-buscar: #B4B4B4;
    --color-caja-texto: #110038;
    --color-text-misGuifos: #110038;
    --color01: #F7C9F3;
    --color02: #4180F6;
    --color03: #110038;
    --color04: #997D97;
    --color05: #FFFFFF;
    --color06: var(--color03);
    --color07: #E6BBE2;
    --color08: #F0F0F0;
    --color09: #FFF4FD;
    --color10: #CCA6C9;
    --color11: #E6DCE4;
    --color12: #808080;
    --color13: #B4B4B4;
    --color14: #E6E6E6;
    --color15: #80687D;
    --color1-box-shadow-caja-texto: #E6DCE4;
    --color2-box-shadow-caja-texto: #80687D;
    --color1-box-shadow-button: #997D97;
    --color2-box-shadow-button: #FFFFFF;
    --color1-box-shadow-buscar: #B4B4B4;
    --color2-box-shadow-buscar: #FFFFFF;
    --color-button-buscar-con-valor: #F7C9F3;
    --color-text-button-buscar-con-valor: #110038;
    --color1-box-shadow-button-buscar-valor: #997D97;
    --color2-box-shadow-button-buscar-valor: #FFFFFF;
    --color1-box-shadow-button-buscar-normal: #B4B4B4;
    --color2-box-shadow-button-buscar-normal: #FFFFFF;
    --color-button-buscar-sin-valor: #E6E6E6;
    --color-text-button-buscar-sin-valor: #B4B4B4;
    --color-button-ver-mas: #4180F6;
    --color-button-ver-mas-hover: #3A72DB;
    --color1-box-shadow-button-ver-mas: #284F99;
    --color2-box-shadow-button-ver-mas: #FFFFFF;
    --color2-border-button-ver-mas: #4C2F99;
    --color-button-sugerencia: #F0F0F0;
    --color-button-sugerencia-hover: #DBDBDB;
    --color1-box-shadow-button-sugerencia: #B4B4B4;
    --color2-box-shadow-button-sugerencia: #FFFFFF;
    --color-border-button-sugerencia: #808080;
}

:root[theme='night'] {
    --color-background: #110038;
    --color-text: #FFFFFF;
    --color-text-button: #FFFFFF;
    --color-text-button-search: #8F8F8F;
    --color-degradado-01: #EE3EFE;
    --color-degradado-02: #2E32FB;
    --color-button-ver-mas: #2E32FB;
    --color-background-ventanas: #B4B4B4;
    --color-hover-button: #CE36DB;
    --color-button-theme-day: #CCCCCC;
    --color-button-theme-night: #2E32FB;
    --color-button-buscar: #8F8F8F;
    --color-caja-texto: #110038;
    --color-text-misGuifos: #FFFFFF;
    --color01: #EE3EFE;
    --color02: #2E32FB;
    --color03: #110038;
    --color04: #A72CB3;
    --color05: #FFFFFF;
    --color06: var(--color05);
    --color07: #CE36DB;
    --color08: var(--color02);
    --color09: #CCCCCC;
    --color10: #808080;
    --color11: var(--color13);
    --color12: rgba(51, 53, 143, 0.20);
    --color13: #E6DCE4;
    --color14: #B4B4B4;
    --color1-box-shadow-caja-texto: #E6DCE4;
    --color2-box-shadow-caja-texto: #110038;
    --color1-box-shadow-button: #A72CB3;
    --color2-box-shadow-button: #FFFFFF;
    --color1-box-shadow-buscar: #8F8F8F;
    --color2-box-shadow-buscar: #FFFFFF;
    --color-button-buscar-con-valor: #EE3EFE;
    --color-text-button-buscar-con-valor: #FFFFFF;
    --color-button-buscar-sin-valor: #B4B4B4;
    --color-text-button-buscar-sin-valor: #8F8F8F;
    --color1-box-shadow-button-buscar-valor: #A72CB3;
    --color2-box-shadow-button-buscar-valor: #FFFFFF;
    --color1-box-shadow-button-buscar-normal: #B4B4B4;
    --color2-box-shadow-button-buscar-normal: #FFFFFF;
    --color-button-ver-mas: #2E32FB;
    --color-button-ver-mas-hover: #2629CC;
    --color1-box-shadow-button-ver-mas: #2124B3;
    --color2-box-shadow-button-ver-mas: #FFFFFF;
    --color2-border-button-ver-mas: #4C2F99;
    --color-button-sugerencia: #CCCCCC;
    --color-button-sugerencia-hover: #CCCCCC;
    --color1-box-shadow-button-sugerencia: #B4B4B4;
    --color2-box-shadow-button-sugerencia: #FFFFFF;
    --color-border-button-sugerencia: #808080;
}

:root {
    --font-family: 'Chakra Petch', sans-serif;
}


/* CLASES GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0;
}

body {
    color: var(--color-text);
    font-family: var(--font-family);
    background-color: var(--color-background);
}

.contenedor {
    max-width: 1438px;
    margin: 0 auto;
    width: calc(100% - 10%);
}

section {
    margin-top: 64px;
}

.flex-spaceBetWeen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-de-texto {
    padding: 5px;
    background-color: #FFFAFE;
    border: 1px solid var(--color07);
    box-shadow: inset -2px -2px 0 0 var(--color1-box-shadow-caja-texto), inset 2px 2px 0 0 var(--color2-box-shadow-caja-texto);
    margin-bottom: 19px;
    color: var(--color-caja-texto);
}

.gif {
    width: 100%;
    height: 100%;
    background-color: var(--color01);
}

.gif-expand {
    max-width: 100%;
    width: 100%;
    height: 290px;
    background-color: var(--color01);
}

.fondo-degradado {
    background-image: linear-gradient(270deg, var(--color-degradado-01) 0%, var(--color-degradado-02) 100%);
}

button {
    color: var(--color-text-button);
}

button:hover,
button:active,
.gif:hover {
    background: var(--color-hover-button);
    outline: var(--color03) dotted 1px;
    outline-offset: -4px;
}

.estiloTituloGif {
    color: var(--color05);
    font-weight: bold;
    width: 100%;
}

span.negrita,
p.negrita {
    font-weight: bold;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-start {
    display: flex;
    justify-content: start;
}


/* FIN CLASES GENERALES */


/* HEADER */

.recuadro-bienvenidos-as {
    margin: 0.5px;
    margin-bottom: 35px;
    box-shadow: 0 1px 0 0 var(--color03);
}

.bienvenidos-as {
    font-size: 12px;
    color: var(--color-text);
    padding: 5px;
}

.botones-header:first-child {
    margin-right: 16px;
    font-size: 60px;
}

.boton-header {
    color: var(--color-text-button);
    background-color: var(--color01);
    border: 1px solid var(--color03);
    box-shadow: inset -1px -1px 0 0 var(--color1-box-shadow-button), inset 1px 1px 0 0 var(--color2-box-shadow-button);
    width: 144px;
    height: 36px;
    margin-right: 16px;
}


/* BOTON DE TEMAS */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.ventana-temas {
    width: 100%;
    background-color: var(--color-background-ventanas);
}

.ventana-temas button {
    margin: 5px auto;
    padding: 10px;
    width: 90%;
}

.ventana-temas button:first-child {
    background-color: var(--color-button-theme-day);
}

.ventana-temas button:last-child {
    background-color: var(--color-button-theme-night);
}

.botones-temas button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botones-temas button span {
    padding: 10px;
    border-right: 1px solid var(--color03);
}

.dropdownImg {
    width: 10px;
    height: 10px;
}


/* FIN BOTON DE TEMAS */

.mis-guifos {
    font-size: 16px;
    margin-left: 10px;
    color: var(--color-text-misGuifos);
}


/* FIN HEADER */


/* CUADRO DE BUSCAR */

.seccion-buscar {
    background-color: var(--color-background-ventanas);
    box-shadow: inset -2px -2px 0 0 var(--color1-box-shadow-buscar), inset 2px 2px 0 0 var(--color2-box-shadow-buscar);
    min-height: 99px;
}

.ventana-buscar {
    margin: 0 auto;
    max-width: calc(100% - 4px);
}

input {
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 var(--color14), inset 2px 2px 0 0 #000000;
    width: 100%;
    height: 48px;
    margin-right: 8px;
    text-indent: 10px;
}

.buscador {
    margin: 14px auto;
    width: 98%;
}

.seccion-buscar p {
    font-weight: bold;
    margin-left: 5px;
}

#boton-buscar {
    background-color: var(--color-background-ventanas);
    border: 1px solid var(--color12);
    box-shadow: inset -1px -1px 0 0 var(--color1-box-shadow-button-buscar-normal), inset 1px 1px 0 0 var(--color2-box-shadow-button-buscar-normal);
    height: 36px;
    width: 102px;
    color: var(--color-button-buscar);
    font-size: 16px;
}

.sugerencias-busqueda {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    background-color: var(--color1-box-shadow-button-ver-mas);
    background-color: var(--color-background-ventanas);
    box-shadow: inset -2px -2px 0 0 var(--color1-box-shadow-buscar), inset 2px 2px 0 0 var(--color2-box-shadow-buscar);
}

.button-sugerencia {
    color: var(--color03);
    font-size: 16px;
    padding: 8px;
    text-align: left;
    width: 92%;
    margin-bottom: 10px;
    background-color: var(--color-button-sugerencia);
    border: 1px solid var(--color-border-button-sugerencia);
    box-shadow: inset -1px -1px 0 0 var(--color1-box-shadow-button-sugerencia), inset 1px 1px 0 0 var(--color2-box-shadow-button-sugerencia);
}

.button-sugerencia:last-of-type {
    margin-bottom: 0px;
}

.button-sugerencia:hover {
    background-color: var(--color-button-sugerencia-hover);
}


/* FIN CUADRO DE BUSCAR */


/* SUGERENCIAS */

.contenedor-titulo-gif {
    position: absolute;
    width: calc(100% - 8px);
    ;
}

div.estilo-windowFrame {
    padding: 4px;
    background: var(--color-background-ventanas);
    box-shadow: inset -2px -2px 0 0 var(--color13), inset 2px 2px 0 0 var(--color05);
    margin-right: 24px;
    width: 400px;
    height: 330px;
}

.estilo-windowFrame:last-child {
    margin-right: 0px;
}

.descripcion-gif {
    height: 25px;
}

.descripcion-gif p {
    height: 25px;
    margin-left: 5px;
}

.cruz {
    height: 20px;
    width: 16px;
    margin-right: 3px;
}

button.ver-mas {
    color: #FFFFFF;
    background-color: var(--color-button-ver-mas);
    box-shadow: inset -0.5px -0.5px 0 0 var(--color1-box-shadow-button-ver-mas), inset 1px 1px 0 0 var(--color2-box-shadow-button-ver-mas);
    width: 81px;
    height: 34px;
    border: 1px solid var(--color2-border-button-ver-mas);
    left: 14px;
    bottom: 13px;
}

button.ver-mas:hover {
    background-color: var(--color-button-ver-mas-hover);
}


/* FIN SUGERENCIAS */


/* TENDENCIAS */

.grid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;
    justify-items: center;
}

.grid-item {
    position: relative;
    width: 100%;
    height: 300px;
    padding: 5px;
}

.grid-item:hover {
    background: var(--color-background-ventanas);
    box-shadow: inset -2px -2px 0 0 var(--color13), inset 2px 2px 0 0 var(--color05);
}

div.contenedor-gif {
    height: 100%;
}

div.contenedor-gif p {
    bottom: 0px;
    display: none;
}

.gif-tendencia img:hover+p.hastags {
    display: block;
}

.expand-izquierda {
    grid-column: 1/3;
}

.expand-derecha {
    grid-column: 3/5;
}

div.expand-1 img,
div.expand-2 img {
    width: 100%;
}


/* FIN TENDENCIAS */

.ocultar {
    display: none;
}