:root[theme='light'] {
    --color-background: var(--color09);
    --color_text: var(--color03);
    --color01: #F7C9F3;
    --color02: #4180F6;
    --color03: #110038;
    --color04: #997D97;
    --color05: #FFFFFF;
    --color06: var(--color03);
    --color07: #E6BBE2;
    --color08: #F0F0F0;
    --color09: #FFF4FD;
    --color10: #CCA6C9;
    --color11: #E6DCE4;
    --color12: #808080;
    --color13: #B4B4B4;
    --color14: #E6E6E6;
    --color15: #80687D;
}

:root[theme='dark'] {
    --color-background: var(--color03);
    --color01: #EE3EFE;
    --color02: #2E32FB;
    --color03: #110038;
    --color04: #A72CB3;
    --color05: #FFFFFF;
    --color06: var(--color05);
    --color07: #CE36DB;
    --color08: var(--color02);
    --color09: #CCCCCC;
    --color10: #808080;
    --color11: var(--color13);
    --color12: rgba(51, 53, 143, 0.20);
    --color13: #E6DCE4;
}

:root {
    --font-family: 'Chakra Petch', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0;
}

body {
    color: var(--color-text);
    font-family: var(--font-family);
    background-color: var(--color-background);
}

.contenedor {
    max-width: 1438px;
    margin: 0 auto;
    width: calc(100% - 200px);
}

section {
    margin-top: 64px;
}

.flex-spaceBetWeen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-de-texto {
    padding: 5px;
    background-color: #FFFAFE;
    border: 1px solid var(--color07);
    box-shadow: inset -2px -2px 0 0 var(--color11), inset 2px 2px 0 0 var(--color15);
    margin-bottom: 19px;
}

.gif {
    max-width: 100%;
    width: 345px;
    height: 296px;
}

.fondo-degradado {
    background-image: linear-gradient(270deg, var(--color01) 0%, var(--color02) 100%);
}


/*  */

.recuadro_bienvenidos-as {
    box-shadow: 0 1px 0 0
}

.bienvenidos-as {
    font-size: 12px;
    color: var(--color05);
    margin: 4px 0px 4px 8px;
}

.contenedor-header {
    margin-top: 35px;
}

.boton_header {
    background-color: var(--color01);
    border: 1px solid var(--color03);
    box-shadow: inset -1px -1px 0 0 var(--color04), inset 1px 1px 0 0 var(--color05);
    width: 144px;
    height: 36px;
    margin-right: 16px;
}

.boton_header:last-of-type {
    margin-right: 0px;
}

.mis_guifos {
    font-size: 16px;
    line-height: 18px;
}


/*  */


/* Buscar */

.seccion_buscar {
    background-color: var(--color14);
    box-shadow: inset -2px -2px 0 0 var(--color13), inset 2px 2px 0 0 var(--color05);
    margin-top: 16px;
    height: 99px;
}

input {
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 var(--color14), inset 2px 2px 0 0 #000000;
    max-width: 1057px;
    width: 80%;
    height: 48px;
    margin-right: 8px;
}

.buscador {
    margin-top: 14px;
}

.seccion_buscar p {
    font-weight: bold;
    color: var(--color05);
    margin: 2px 2px 2px 2px;
}

#boton-buscar {
    background-color: var(--color14);
    border: 1px solid var(--color12);
    box-shadow: inset -1px -1px 0 0 var(--color13), inset 1px 1px 0 0 var(--color05);
    height: 36px;
    width: 102px;
    color: var(--color13);
}


/*  */


/* Sugerencia */

.windowFrame {
    padding: 4px;
    background: var(--color14);
    box-shadow: inset -2px -2px 0 0 var(--color13), inset 2px 2px 0 0 var(--color05);
    margin-right: 19px;
}

.windowFrame:last-child {
    margin-right: 0px;
}

.descripcion-gif {
    height: 24px;
}

.descripcion-gif p {
    background-color: transparent;
    font-weight: bold;
    color: var(--color05);
    border: none;
    box-shadow: none;
}

.cruz {
    height: 20px;
    width: 16px;
}


/* Tendencias */

.grid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;
    justify-items: center;
}

.grid-item {
    position: relative;
    width: 100%;
}

div.contenedor-hastags {
    position: absolute;
    top: 93%;
    width: 100%;
}

div.contenedor-hastags p {
    text-align: center;
    color: var(--color05);
    font-weight: bold;
}

.expand_1 {
    grid-column: 1/3;
}

.expand_2 {
    grid-column: 3/5;
}

div.expand_1 img,
div.expand_2 img {
    width: 100%;
}