/* Mis Guifos css */


/* UTILIDADES Y GENERALES */

div.contenedor-instrucciones p,
h3,
h4,
span {
    color: var(--color03);
}

button {
    width: 144px;
    height: 36px;
    font-size: 16px;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    border: 1px solid #110038;
}

button.button-ancho {
    width: 256px;
    height: 36px;
}

button span {
    color: var(--color-text-button);
}

.boton-secondary,
.boton-secondary:hover {
    color: var(--color-button-text-secondary);
    background-color: var(--color-button-secondary);
}

.boton-primary,
.boton-primary:hover {
    background-color: var(--color-button-primary);
}

.boton-naranja {
    background-color: #FF6161;
    color: #FFFFFF;
}

.flex-columna {
    flex-direction: column;
}

.margin-cero-der {
    margin-right: 0px !important;
}

.shadow-box-naranja {
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.shadow-box-rosa {
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

div.ventana-chica {
    width: 684px;
}

div.ventana-grande {
    width: 860px;
    height: 548px;
}

div.contenedor-instrucciones div p {
    display: inline;
    font-size: 16px;
}


/*  */

.arrow-back {
    margin-right: 7px;
}

.estilo-ventana-crearGuifo {
    background-color: var(--color-background-ventanas);
    box-shadow: inset -2px -2px 0 0 var(--color1-box-shadow-buscar), inset 2px 2px 0 0 var(--color2-box-shadow-buscar);
    min-height: 386px;
    max-width: calc(100% - 20%);
    margin-top: 78px;
    margin-bottom: 38px;
}

p.texto-margin-left {
    margin-left: 3px;
}

.titulo-crear-guifos {
    margin: 32px 0px 7px 0px;
}

.icono_window {
    margin: 0px 16px 0px 25px;
}

.contenedor-instrucciones {
    width: 518px;
}

div.contenedor-instrucciones div {
    margin-top: 12px;
    margin-bottom: 12px;
}

.contenedor-botones {
    margin: 3.5% 5% 0% 0%;
}

div.contenedor-botones button:first-child {
    margin-right: 16px;
}


/* VENTANA GIFO SUBIDO */

div.ventana-gifo-subido {
    width: 85%;
    height: 191px;
    background: #FFFFFF;
    margin: 29px 27px 0px 27px;
}

div.previsualizacion-gif-creado {
    width: 15%;
}

div.previsualizacion-gif-creado button {
    margin-top: 16px;
}

div.botones-gif-creado button:first-of-type {
    margin: 16px 0px 14px 0px;
}

div.ventana-crear-guifo.terminado {
    width: 721px;
}

.contenedor-boton-listo {
    /* height: 37%; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

div.ventana-grabacion {
    margin: 0 auto;
    margin-top: 1.5vh;
    width: 832px;
    height: 434px;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

div.ventana-grabacion img {
    border: 2px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

div.contenedor-reproductor {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

div.controles {
    min-height: 73px;
}

div.controles .control {
    margin: 16px;
}

button.boton-con-icono {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
}

button.boton-con-icono span {
    height: 100%;
    width: 144px;
    padding: 3.7% 20%;
    border-left: 1.9px solid var(--color03);
    /* box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; */
}

p.recording-tiempo {
    background-color: #FFFFFF;
    padding: 5px 20px 5px 20px;
    color: #110038;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.fondo-blanco {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

div.subiendo-tu-gif {
    color: #110038;
}

div.subiendo-tu-gif img,
div.subiendo-tu-gif p {
    margin: 5px;
}

p.tiempo-restante {
    color: #110038;
    opacity: 64%;
}

span.tachado {
    text-decoration: line-through;
}

img.camera-icon {
    padding: 10px;
}

#userMedia {
    width: 100%;
    height: 100%;
}

#previsualizarGif {
    width: 100%;
    height: 100%;
}

div.posicionar-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.videoFrame {
    margin: 0 auto;
    height: calc(434px - 6px);
}

.ventana-gifo-subido img {
    width: 100%;
    height: 100%;
}


/* PROGRESSBAR */

div.contenedor-subiendo-gif {
    text-align: center;
}

div.contenedor-subiendo-gif p,
div.contenedor-subiendo-gif h3 {
    margin-top: 10px;
}

img.globe_icon {
    border: none !important;
    box-shadow: none !important;
}

.progress-bar {
    width: 324px;
    height: 24px;
    background: #B4B4B4;
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    margin-top: 40px;
}

.progress-bar.progress-bar-hidden {
    display: none !important;
}

.progress-bar .progress-item {
    background-color: #999999;
    margin: 0 2px 0 0;
    display: flex;
    flex-grow: 1;
}

.progress-bar .progress-item.active {
    background-color: #F7C9F3;
}

.progress-bar .progress-item:last-child {
    margin: 0;
}

.contenedor-vh {
    height: 19vh;
}

.contenedor-vh button {
    margin: 0px 44px 44px 0px;
}